fastapi
uvicorn
python-dotenv
watchfiles
sqlalchemy
alembic
pydantic
pytest
pytest-asyncio
httpx
bandit
safety
pytest-cov
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart
bcrypt==4.0.1